

.feature{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}
.feature h2{
  font-size: 1.7rem;
  max-width: 60%; /* Ensure the heading doesn't exceed the container's width */
  word-wrap: break-word; /* Allow the heading to break into multiple lines if needed */
  font-weight: 600;

}
.feature h3{
  font-size: 1.3rem;
}

.feature p {
  font-size: 1rem;
  max-width: 60%; /* Ensure the paragraph doesn't exceed the container's width */
  word-wrap: break-word; /* Allow the paragraph to break into multiple lines if needed */
}
.features{
display: flex;
gap: 20px;
justify-content: space-between;
padding: 0.5rem 1.0rem;
}

.features-comp{
  padding: 1.1rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.features-comp:nth-child(even) {
  margin-top: 1rem; /* Adjust the margin for even-numbered cards to push them slightly down */
  border-radius: 15px;

}

.features-comp:nth-child(odd) {
  margin-top: -1rem; /* Adjust the margin for odd-numbered cards to pull them slightly up */
  border-radius: 15px;

}
.features-comp div svg {
  font-size: 2rem; /* Adjust the font-size as needed */
}
.features-comp  div{
  padding: 0.5rem;
  border-radius: 10px;

}
#feature1:hover{
  box-shadow: 0px 10px 10px rgba(242, 213, 204);
}
#feature1 div{
  background-color: rgb(242, 213, 204,0.4);
}
#feature1 div svg {
  color: rgb(215, 75, 63); /* Change the color of the SVG icon for feature 1 */
}
#feature2:hover{
  box-shadow: 0px 10px 10px rgba(123, 167, 215);
}
#feature2 div{
background-color:rgb(123, 167, 215,0.4) ;
}
#feature2 div svg {
  color: rgb(127, 169, 216); /* Change the color of the SVG icon for feature 2 */
}
#feature3:hover{
  box-shadow: 0px 10px 10px rgba(190, 240, 173);
}

#feature3 div{
  background-color:rgb(190, 240, 173,0.4) ;
  }
#feature3 div svg {
  color: rgb(190, 240, 173); /* Change the color of the SVG icon for feature 3 */
}
#feature4:hover{
  box-shadow: 0px 10px 10px rgba(234, 231, 136);
}

#feature4 div{
  background-color:rgb(234, 231, 136,0.4) ;
  }
#feature4 div svg {
  color: #FFFD54; /* Change the color of the SVG icon for feature 4 */
}



@media(max-width:900px){

  .features{
    flex-direction: column;
    gap: 20px;
  }
  .features-comp{
    width: 100%;
    background-color: #f8ffe0;
  }
  .feature h2{
    font-size: 1.5rem;
  }
  .feature p{
    font-size: 1rem;
  }
  .features-comp div svg {
    font-size: 1.5rem; /* Adjust the font-size as needed */
  }
  .features-comp div{
    padding: 0.5rem;
    border-radius: 10px;
  
  }
  .feature{
    gap: 10px;
  }
  .features-comp{
    gap: 10px;
  }
  .features-comp:nth-child(even) {
    margin-top: 0.5rem; /* Adjust the margin for even-numbered cards to push them slightly down */
    border-radius: 15px;
  
  }
  
  .features-comp:nth-child(odd) {
    margin-top: -0.5rem; /* Adjust the margin for odd-numbered cards to pull them slightly up */
    border-radius: 15px;
  
  }
  .features-comp div svg {
    font-size: 1.5rem; /* Adjust the font-size as needed */
  }
  .features-comp  div{
    padding: 0.5rem;
    border-radius: 10px;
  
  }
  #feature1 div svg {
    color: rgb(215, 75, 63); /* Change the color of the SVG icon for feature 1 */
  }
  #feature2 div svg {
    color: rgb(127, 169, 216); /* Change the color of the SVG icon for feature 2 */
  }
  #feature3 div svg {
    color: rgb(190, 240, 173); /* Change the color of the SVG icon for feature 3 */
  }
  #feature4 div svg {
    color: #FFFD54; /* Change the color of the SVG icon for feature 4 */
  }
}