.navbar{
    padding: 0 20px;
    margin: 0 20px;
    width: 98%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}
nav h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }
  
  nav h1:hover {
    transform: scale(1.1); /* Scale the logo by 110% when hovered */
  }
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    

}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color:var(--accent-color);

}
.navbar button {
    margin: 5px; /* Adjust margin if necessary */
    padding: 8px 16px; /* Reduce padding to prevent stretching */
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background: var(--accent-color);
    color: var(--background-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.navbar button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--accent);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
}

@media(max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
  
    
  } 