*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
        --primary-color: #6BB77B; 
    --accent-color: #5AA6A1;
    --text-color: #404757; 
    --background-color: #F8FFE0;
    --accent-color-hover: #549995;
    --primary-color-hover: #60a56f;
   overflow-x: hidden;
}
body{
    height: 100vh;
}

